GEMINI_API_KEY=
GHNLP_API_KEY=
FIREBASE_PROJECT_ID=
GOOGLE_CLOUD_PROJECT_ID=
GOOGLE_APPLICATION_CREDENTIALS=path/to/google/application/credentials.json
FIREBASE_CREDENTIALS=path/to/firebase/credentials.json
MNOTIFY_API_KEY=
MNOTIFY_SENDER_ID=
OPENFDA_API_KEY=
